fastapi
uvicorn
python-dotenv
requests
sqlalchemy
python-jose[cryptography]
bcrypt==4.1.2
passlib==1.7.4
asyncpg
pydantic[email]
psycopg2-binary
gitpython
sentence-transformers==2.2.2
faiss-cpu==1.7.4
tqdm
httpx
python-magic
python-multipart
genai
anthropic
openai==1.40.0
supabase
ollama
tiktoken==0.6.0
